<div class="title">
  <h2>Here is the list of all the tools :</h2>
</div>
<div class="container">
  <div class="row">
    <div class="list tool">
      <% @tools.each do |tool| %>
      <h3><%= link_to tool.title, tool_path(tool) %></h3>
      <p><%= tool.caracteristics %></p>
      <p><%= tool.description %></p>
      <p><%= tool.price_per_day %> €/per day</p>
    </div>
  </div>
<% end %>
