// Import page-specific CSS files here.
@import "home";
@import "tools";

h2 {
  align: center;
}


.list {
  text-align: center;
}

.title {
  text-align: center;
}

h3.tool {
  text-align: center;
}

.card-image {
  background-size: cover;
  height: 200px;
}
