h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: helvetica;
  border-radius: 5px;
}

label {
  color: #dd7e18;
  opacity: 0.5;
  font-size: 20px;
  border-radius: 6px;
  font-weight: normal;
  width:300px;
  text-align: center;
}

.btn.btn-default {
  width: 24em;
  length: 10em;
}

.btn.btn-default .hoover {
  background: orange;
  transition: 0,7s;
}

abbr[title="required"] {
  display: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    border-radius: 5px;
    hoover: orange;
}

a {
  color: #469AE0;
}

textarea.form-control {
  height: 242px;
  border-radius: 5px;
}

.form-control {
  border-radius: 5px;
}
