<div class="custom-navbar">
 <p><%= link_to 'Home', root_path %></p>
  <div class="logotitle">
    <%= image_tag 'outils.jpg', class: "img_logo" %>
    <h2>ShareProTools</h2>
  </div>
  <div class="buttons">
    <p><%= link_to 'Login', new_user_session_url, class: 'navbar-link' %>
    <%= link_to 'Post your tool', new_tool_url, class: 'navbar-link' %></p>
  </div>
</div>
