<body>
  <div id="banner">
      <h1>ShareProTools</h1>
      <h2>Borrow professionals tools</h2>
      <h3>Just do it like a pro !</h3>
      <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
