
.footer {
  color: #ACADAC;
  height: 70px;
  background: #606060;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  color: #ACADAC;
  margin-left: 50px;
}

.footer-copyright {
  margin-right: 50px;
}
