
.footer {
  display: flex;
  align-items: center;
  color: #ACADAC;
  height: $footer-height;
  background: #606060;
  width: 100%;
  display: flex;
  color: white;
}

.footer-links {
  color: #ACADAC;
  margin-left: 50px;
  vertical-align: center;
}

.footer-copyright {
  margin-right: none;
  margin-left: 4em;
}

