
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background: #606060;
  width: 100%;

}

.footer-links {
  margin-left: 50px;
}

.footer-copyright {
  margin-right: 50px;
}

.footer p {
  color: #BDBDBD;
  font-size: 14px;
  font-weight: lighter;
}

.footer a {
  color: #BDBDBD;
}

.h_over_footer a {
  color: #F2F2F2;
}
