// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "footer";
@import "card";

.card-description {
  font-size: 10px;
}

.card-header {
  text-align: center;
  display: block;
}
