.custom-navbar {
  height: 70px;
  background-color: #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;

  img {
    width: 50px;
    color: #2381d0;
  }

  .buttons a {
    color: #2381d0;
  }

  .navbar-link {
    padding: 0px 15px;
    border-right: 1px solid black;
  }

  .navbar-link:last-child {
    border: none;
  }
}

div {
  display: block;
  text-decoration-line: none;
  text-decoration-style: wavy;
  text-decoration-color: white;
  color: #2381d0;
  font-size: 20px;
  justify-content: align;
  font-weight: bold;
}

.logotitle {
  display: flex;
  align-items: center;

  h2 {
    margin: 0;
    font-weight: 700;
    padding-left: 15px;
  }
}

